<mat-spinner *ngIf="isLoading"></mat-spinner>
<mat-accordion *ngIf="!isLoading">
  <mat-expansion-panel *ngFor="let item of posts">
    <mat-expansion-panel-header>
      {{ item.title }}
    </mat-expansion-panel-header>
    <p>
      {{ item.content }}
    </p>
    <mat-action-row>
      <a mat-button color="primary" [routerLink]="['/edit',item.id]" routerLinkActive="router-link-active" >EDIT</a>
      <button mat-button color="warn" (click)="onDelete(item.id)">DELETE</button>
    </mat-action-row>
  </mat-expansion-panel> 
</mat-accordion>

<p *ngIf="posts.length==0">
  No post added yet!!
</p>
